<div pDraggable="user-box" class="user-box ui-g ui-g-nopad standard-font">
  <div class="ui-g-2">#{{userData.id}}</div>
  <div class="ui-g-4">{{userData.name}}</div>
  <div class="ui-g-4">{{userData.email}}</div>
  <div class="ui-g-2">{{userData.points}} points</div>
</div>
