<ng-container *ngFor="let user of userList; let i=index">
  <app-drop-area [dropElementPosition]="i"
                 (dropElement)="reorderList($event)"></app-drop-area>
  <app-user-box [userData]="user"
                (dragstart)="dragStart(i)"
                (dragend)="dragEnd()"></app-user-box>
</ng-container>
<app-drop-area [dropElementPosition]="userList.length"
               (dropElement)="reorderList($event)"></app-drop-area>
