<div pDroppable="user-box"
     (onDragEnter)="dragEnter()"
     (onDrop)="dropElement.emit(dropElementPosition)"
     [@activeArea]="dropElementPosition === activeIndex ? 'active' : 'inactive'"
     class="drop-area">
  <span *ngIf="dropElementPosition === activeIndex"
        class="standard-font">Drop here...</span>
</div>
