@import url('https://fonts.googleapis.com/css?family=Roboto');

$drop-area-border: #ababab;
$drop-area-active-border: #8c8c8c;
$background-color: #c2c8ff;
$user-box-color: #5672aa;
$user-box-border: #2f4d7e;

body {
  margin: 0;
  padding: 5%;
  box-sizing: border-box;
  height: 100vh;
  background-color: $background-color;

  .standard-font {
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
  }

  .user-box {
    border: 2px solid $user-box-border;
    user-select: none;
    background-color: $user-box-color;

    &:hover {
      cursor: grab;
    }
  }

  .drop-area {
    border: dashed $drop-area-border;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
